
body {
    margin: 0;
}

.row {
    display: flex;
}

#largeImage {
    height: 500px;
    width: 500px;
    position: relative;
}
img {
    float: left;
    height: 50px;
    width: 50px;
    cursor: pointer;

}
.images {
    display: none;
}

.zoom:hover {
transform: scale(1.5);
}

.container {
    position: relative;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
}
.column {
    float: left;
    width: 8%;
    padding: 10px;
    
}

 #previous {
    position: absolute;
    left: 5%;
    color: white;
    margin-top: 250px;
} 

#next {
    position: absolute;
    right: 5%;
    color: white;
    margin-top: 250px;
}








